
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                @using (Html.BeginForm("DoRegistration", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div style="padding: 20px" class="input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" name="AccountName" class="form-control"
                               placeholder="username">
                    </div>

                    <div style="padding: 20px" class="input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" name="Password" class="form-control"
                               placeholder="password">
                    </div>

                    <div style="padding: 20px" class="input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" name="CarName" class="form-control"
                               placeholder="car name">
                    </div>

                        <div style="padding: 20px" class="input-group">
                            <span class="input-group-addon"></span>
                            <input type="number" name="CarSpeed" class="form-control"
                                   placeholder="car speed">
                        </div>

                        <div style="padding: 20px" class="input-group">
                            <span class="input-group-addon"></span>
                            <input type="number" name="CarCapacity" class="form-control"
                                   placeholder="car capacity">
                        </div>

                        <div style="padding-left: 35px" class="form-group">
                            <label for="sel1">car healthy</label>
                            <select class="form-control" id="sel1" name="IsHealthy">
                                <option value="true">yes</option>
                                <option value="false">no</option>
                            </select>
                        </div>

                        <input type="submit" class="btn btn-default" value="Register" />
                        <a class="btn btn-default" role="button" href="">Back</a>
                }
            </div>

            <div class="col-md-5">
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</main>